/* second dropdown stylings below*/


.dropdown2 {
    width: 400px;
    margin: 100 auto;
    user-select: none;
    padding: 10px;
    border-radius:0px;
  }
  
  .dropdown2 .dropdown-btn2 {
    padding: 10px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0,0,0,0.06);
    font-weight: bold;
    cursor: pointer;
    color: #333
  }
  
  .dropdown2 .dropdown-content2 {
    top: 110%;
    padding: 10px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0,0,0,0.06);
    font-weight: 500;
    color: #333
  }
  
  .dropdown2 .dropdown-content2 .dropdown-item2 {
   padding: 10px; 
   transition: all 0.2s;
  }
  
  .dropdown2 .dropdown-content2 .dropdown-item2:hover{
    background: #f4f4f4
  }